@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@400;700&display=swap");
.App {
  text-align: center;
  margin: 0 auto;
  font-family: "Hind", sans-serif;
}
.App.dayTime {
  background-color: #5fcaff;
  color: #34312d;
}
.App.nightTime {
  background-color: #14110f;
  color: #eff8e2;
}

h1 {
  margin: 0 auto;
  padding: 20px 0;
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imageContainer img {
  width: 100%;
  max-width: 500px;
  z-index: 1;
}

.dropdown {
  background-color: #eff8e2;
  border: none;
  padding: 10px 60px;
}

.dropdownContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.displayImageContainer .imageContainer {
  position: relative;
}
.displayImageContainer .sunMoonContainer {
  position: absolute;
  max-width: 200px;
  right: 0;
  top: 0;
}